@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

.google {
  font-family: 'Arimo', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%
}

.dark {
  background-color: #202124;
  color: white;
}

.google-top-empty {
  height: 100px;
}

.google-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  img {
    max-height: 92px;
  }
}

.google-bottom-empty {
  height: calc(100vh - 357px);
}

@media screen and (max-width: 640px) {
  .google-bottom-empty {
    height: calc(100vh - 283px);
  }
}

@media screen and (min-width: 1024px) {
  .google-top-empty {
    height: 147px;
  }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .google-bottom-empty {
    height: calc(60vh - 40px);
  }
}
