.logo {
  position: relative;
}
.logoImg {
  position: absolute;
  color: #4285f4;
  font-family: roboto-regular, arial, sans-serif;
  white-space: nowrap;
}
.logo2x {
  right: 5px;
  top: 72px;
  font-size: 16px;
}
.logo1x {
  right: 2px;
  top: 43px;
  font-size: 10px;
}
