#root {
  margin: 0;
  padding: 0;
}

html, body {
  // overscroll-behavior: none;
  min-width: 320px;
  height: 100dvh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}