.gamepad-container {
  padding: 0 2rem;
  width: calc(100vw - 4rem);
  // height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.connexion-status {
  background-color: gray;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 0 2rem;
  width: 100%;
  border-top: 1px solid beige;
  position: relative;

  h3 {
    position: relative;

    span {
      position: absolute;
      top: 10px;
      right: -10px;
    }
  }

  .connexion {
    position: absolute;
    top: 25px;
    right: 30px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
}

.button-settings {
  background: #42275a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #734b6d,
    #42275a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #734b6d,
    #42275a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0 2rem;
  width: 100%;
  border-top: 1px solid beige;
  position: relative;

  .activeButton {
    filter: drop-shadow(0 0 0.75rem beige);
    stroke: white;
  }
}

.hidden {
  height: 60px;
  overflow: hidden;
}

.arrowlogo {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #8d949b;
  padding: 10px 10px;
}

.button-events {
  background: #c04848; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #480048,
    #c04848
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #480048,
    #c04848
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 0 2rem;
  width: 100%;
  border-top: 1px solid beige;
  position: relative;

  table,
  th,
  td {
    border: 1px solid white;
    border-collapse: collapse;
  }

  tr :nth-child(2) {
    min-width: 100px;
  }

  td,
  tr {
    padding: 5px 10px;
  }
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

// button {
//   border-radius: 8px;
//   border: 1px solid transparent;
//   padding: 0.6em 1.2em;
//   font-size: 1em;
//   font-weight: 500;
//   font-family: inherit;
//   background-color: #1a1a1a;
//   cursor: pointer;
//   transition: border-color 0.25s;
// }
// button:hover {
//   border-color: #646cff;
// }
// button:focus,
// button:focus-visible {
//   outline: 4px auto -webkit-focus-ring-color;
// }
